.banner{
    
    display: flex;
    background-color: #F8DCEA;
    padding: 25px;
    height: 350px;
    justify-content: space-around;
}
.banner-content{
    margin: 25px ;
    width: 21%;
}
.banner-content>p{
    font-size: smaller;
}
.btn-primary{
    border-radius: 5px;
    border: 0;
    padding: 10px 20px;
    color: white;
    background-color: #E90F57;
}
#feature-text{
   text-align: center;
   margin-bottom: 50px;

}

#feature{
    align-content: center;
}

.feature-title{
    text-align: center;
    
}
.feature-description{
    text-align: center;
    padding: 15px 480px;
    text-align: center;
    
    font-size: smaller;
    color: #B0ACAE;
    font-weight: 700;
}
#feature-flowers{
    padding: 10px 260px;
    display: flex;
    
    align-items: center;
}
#feat-fl{
    text-align: center;
    margin-left: 15px;
   box-shadow: 50px;
}
#hot-deal{
    background-color: #F9EFF4;
    display: inline-block;
    padding: 0px 130px;
    display: flex;
    justify-content: space-around;
}
#deal-text{
    padding-top: 50px;
    font-size: larger;
    text-align: center;
    margin: 0px 130px;
    text-align: center;
}