nav{
    background-color: pink;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-item{
    font-style: italic;
    list-style: none;
    font-size: 15px;
    margin-left: 20px;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    border-radius: 5px;
    border: 0;
    padding: 10px 20px;
    color: white;
    background-color: #CA5B8B;
}
.banner{
    display: flex;
    background-color: #F8DCEA;
    padding: 25px;
    height: 350px;
    justify-content: space-around;
}
.banner-content{
    margin: 25px ;
    width: 21%;
}
.banner-content>p{
    font-size: smaller;
}
.btn-primary{
    border-radius: 5px;
    border: 0;
    padding: 10px 20px;
    color: white;
    background-color: #E90F57;
}
#feature-text{
    margin-top: 90px;
   text-align: center;
   margin-bottom: 50px;
}
#feature{
    align-content: center;
}
.title{
    text-align: center;
    
}
.description{
    text-align: center;
    padding: 15px 480px;
    font-size: smaller;
    color: #968a90;
    font-weight: 50;
}
#feature-flowers{
    padding: 10px 270px;
    display: flex;
    
    align-items: center;
}
#feat-fl{
    text-align: center;
    margin-left: 15px;
}
#hot-deal{
    margin-top: 90px;
    background-color: #F9EFF4;
    display: inline-block;
    padding: 0px 130px;
    display: flex;
    justify-content: space-around;
}
#deal-text{
    padding-top: 50px;
    font-size: larger;
    text-align: center;
    margin: 0px 130px;
    text-align: center;
}
#social-content{
    margin-top: 90px;
    align-items: center;
    margin-bottom: 90px;
}
#social-text{
    text-align: center;
    margin-bottom: 30px;
}
#social-con-flowers{
    padding: 10px 150px;
    display: flex;
    align-items: center;
}
#social-fl{
    border-radius: 8px;
    text-align: center;
    margin-left: 25px;
}
#last-banner{
    border-radius: 5px;
    margin: 0px 170px;
    display: block;
    background-image: url('../images/Rectangle\ 9.png');
    padding-top: 90px;
    padding-bottom: 50px;
    align-items: center;
}
.input{
    justify-content: space-between;
    display: flex;
    margin: 10px 200px;
}
.input-bar{
    margin-right: 10px;
    border: 0;
    border-radius: 5px;
    padding: 10px 150px; 
    text-align: left;
}
#footer-content{
    margin-top: 90px;
    padding: 45px 0px;
    background-color: black;
    text-align: center;
    color: white;
}